<div class="address">
    <ul class="address__list">
        <li class="address__item">
            <a href="https://twitter.com/ykllog" target="_blank" rel="noopener noreferrer" class="sns-link sns-link--twitter"><i class="fab fa-twitter"></i></a>
        </li>
        <li class="address__item">
            <a href="https://github.com/ykllog" target="_blank" rel="noopener noreferrer" class="sns-link sns-link--github"><i class="fab fa-github"></i></a>
        </li>
        <li class="address__item">
            <a href="https://blog.ykllog.com" target="_blank" rel="noopener noreferrer" class="sns-link sns-link--blog"><i class="fas fa-file"></i></a>
        </li>
    </ul>
</div>