<div class="wrap" ontouchstart="">
    <header class="header">
        <div class="header__inner">
            <h1 class="site-title">
                <a href="/" class="site-title__link">
                    <img src="../../asset/image/logo_sm.png" alt="伊藤宏恵ポートフォリオサイト" class="site-title__img--sm">
                    <img src="../../asset/image/logo_l.png" alt="伊藤宏恵ポートフォリオサイト" class="site-title__img--l">
                </a>
            </h1>

            <nav class="lg-nav">
                <ul class="lg-nav__list">
                    <li class="lg-nav__item"><a href="/#works" class="lg-nav__link">WORKS</a></li>
                    <li class="lg-nav__item"><a href="/#skills" class="lg-nav__link">SKILLS</a></li>
                    <li class="lg-nav__item"><a href="/#aboutme" class="lg-nav__link">ABOUT ME</a></li>
                    <li class="lg-nav__item"><a href="/#contact" class="lg-nav__link">CONTACT</a></li>
                </ul>
            </nav>

            <div class="nav-toggle cursor">
                <button class="nav-toggle__button cursor">
                    <span class="nav-toggle__line"></span>
                    <span class="nav-toggle__line"></span>
                    <span class="nav-toggle__line"></span>
                </button>
            </div>

            <nav class="sm-nav">
                <ul class="sm-nav__list">
                    <li class="sm-nav__item"><img src="../../asset/image/logo_menu.png" alt="伊藤宏恵ポートフォリオサイト"
                            class="sm-nav__img"></li>
                    <li class="sm-nav__item"><a href="/#works" class="sm-nav__link">WORKS</a></li>
                    <li class="sm-nav__item"><a href="/#skills" class="sm-nav__link">SKILLS</a></li>
                    <li class="sm-nav__item"><a href="/#aboutme" class="sm-nav__link">ABOUT ME</a></li>
                    <li class="sm-nav__item"><a href="/#contact" class="sm-nav__link">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>