@charset "UTF-8";

.fv {
  width: 100%;
  height: 100vh;
  background: url("../images/fv.png") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.fv__title svg {
  width: 250px;
  height: auto;
}

.fv__title p {
  color: #da3a24;
  text-transform: capitalize;
  font-size: 14px;
  margin-top: 30px;
}

.fv__subTitle {
  position: fixed;
  top: 50%;
  left: 0.5%;
  transform: translateY(-50%);
}
